<app-modal [(open)]="open"
           [title]="mode=='ADD' ? 'Add Listing' : 'Edit Listing'"
           [primaryBtnLabel]="mode=='ADD' ? 'Add' : 'Save'"
           (primaryBtn)="_addListing()"
           (secondaryBtn)="_closePopup()"
           [primaryBtnDisabled]="_addForm.invalid"
>
  <form [formGroup]="_addForm" class="was-validated">
    <div class="create-listing__block-1">
      <div class="create-listing__block-2">
        <div class="form-group">
          <label for="city">
            City:
          </label>
          <input id="city" class="form-control" type="text" formControlName="city" [(ngModel)]="_listing.city" required>
        </div>
        <div class="form-group">
          <label>
            Living Area:
          </label>
          <input type="number" class="form-control" formControlName="livingArea" [(ngModel)]="_listing.livingArea"
                 required>
        </div>

        <div class="form-group">
          <label for="rentalPrice">
            Rental Price:
          </label>
          <input id="rentalPrice" type="number" class="form-control" formControlName="rentalPrice"
                 [(ngModel)]="_listing.rentalPrice">
        </div>

        <div class="form-group">
          <label for="postcode">
            Post Code:
          </label>
          <input id="postcode" type="number" class="form-control" formControlName="postcode" required
                 [(ngModel)]="_listing.postcode">
        </div>

        <div class="form-group">
          <label for="houseNumber">
            House Number:
          </label>
          <input id="houseNumber" class="form-control" type="text" formControlName="houseNumber" required
                 [(ngModel)]="_listing.houseNumber">
        </div>

      </div>
      <div class="create-listing__block-2">
        <div class="form-group">
          <label for="realEstateType">Real State Type:</label>
          <select class="form-control" id="realEstateType" formControlName="realEstateType" required
                  [(ngModel)]="_listing.realEstateType">
            <option *ngFor="let type of _realStateType" [value]="type.id">
              {{type.name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="siteArea">
            Site Area:
          </label>
          <input id="siteArea" type="number" class="form-control" formControlName="siteArea"
                 [(ngModel)]="_listing.siteArea">
        </div>
        <div class="form-group">
          <label for="salesPrice">
            Sales Price:
          </label>
          <input id="salesPrice" type="number" class="form-control" formControlName="salesPrice"
                 [(ngModel)]="_listing.salesPrice">
        </div>

        <div class="form-group">
          <label for="street">
            Street:
          </label>
          <input type="text" id="street" class="form-control" formControlName="street" [(ngModel)]="_listing.street"
                 required>
        </div>


        <div class="form-group">
          <label for="imageURL">
            Image URL:
          </label>
          <input id="imageURL" class="form-control" type="url" formControlName="imageURL"
                 [(ngModel)]="_listing.imageURL">
        </div>
      </div>
    </div>
  </form>
</app-modal>
